<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="../../favicon.ico">
        <title>Signin Template for Bootstrap</title>
        <!-- Bootstrap core CSS -->
        <link href="{{asset('bundles/loginlogin/css/bootstrap.css')}}" rel="stylesheet">
        <link href="{{asset('bundles/loginlogin/css/bootstrap-responsive.css')}}" rel="stylesheet">
        <link href="{{asset('bundles/loginlogin/css/parsley/parsley.css')}}" rel="stylesheet">

        <script src="{{asset('bundles/loginlogin/js/jquery.js')}}"></script>
        {%block stylesheets %}
        {%endblock%}
    </head>

    <body>



        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="{{asset('bundles/loginlogin/js/bootstrap.js')}}"></script>
                <script src="{{asset('bundles/loginlogin/js/parsley/parsley.js')}}"></script>

        {%block container %}
        {%endblock%}

        {%block javascripts %}
        {%endblock%}
    </body>
</html>
